
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<meta th:charset="UTF-8">

<!-- 引入 Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/frontend/css/bootstrap.min.css}">
<!-- 網站主要樣式表 -->
<link rel="stylesheet" th:href="@{/frontend/css/style.css}">
<link rel="stylesheet" th:href="@{/frontend/css/my.css}">
<!-- 響應式樣式表 -->
<link rel="stylesheet" th:href="@{/frontend/css/responsive.css}">
<!-- 自定義滾動條樣式 -->
<link rel="stylesheet"
	th:href="@{/frontend/css/jquery.mCustomScrollbar.min.css}">
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
	media="screen">

<!-- 引入 Bootstrap 和 jQuery -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">

<link rel=" stylesheet" th:href="@{/frontend/css/title.css}">


<style>

        .logo img {
            width: 100%;
            height: 60px;
			margin: 5px;
        }

        .google-icon path {
            fill: #847674;
        }

        .header {
            box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
        }
        .nav-item {
            height: 56.67px;

        }
        .nav-link {
            width: 64px;
            text-align: center;

        }
        .navigation.navbar-dark .navbar-nav .nav-link {
/*             border-bottom: black solid 3px; */
        }
        .footer {
            background-image: url("/frontend/images/end.jpg");
            background-size: contain;
        }
        /* HTML: <div class="loader"></div> */
        .loader {
            font-weight: bold;
            font-family: monospace;
            font-size: 50px;
            display: inline-grid;
        }
        .loader:before,
        .loader:after {
            content:"JOYFUL RESORT";
            grid-area: 1/1;
            -webkit-mask:linear-gradient(90deg,#000 50%,#0000 0) 0 50%/2ch 100%;
            animation: l29 2s infinite;
        }
        .loader:after {
            -webkit-mask-position:1ch 50%;
            --s:-1;
        }
        @keyframes l29 {
            80%,100% {transform: rotate(calc(var(--s,1)*1turn))}
        }

		.bg-black{
		background-color: rgb(255, 255, 255) !important;
		}
		
		.G3content {
		    margin: 100px 10px 20px 10px;
		    min-height: 500px; /* 设置上边距为 header 区块的高度 */
		}
		
		
    </style>
<!--        頁首連結用的 -->