<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script th:src="@{/frontend/js/jquery.min.js}"></script>
<script th:src="@{/frontend/js/bootstrap.bundle.min.js}"></script>
<!-- <script th:src="@{/js/jquery-3.0.0.min.js}"></script> -->
<!-- 側邊欄 -->
<script th:src="@{/frontend/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/frontend/js/custom.js}"></script>