<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Order</title>
    <link th:insert="~{/front-end/htmlfile/css.html}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC&family=Parisienne&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="/frontend/css/order.css">
    <style>

        .modal-content {
            border-radius: 0 !important;
        }
    </style>
</head>

<!-- body 主體 -->

<body class="main-layout">

頁面加載動畫

<!--<div class="loader_bg">-->
<!--    <div class="loader"></div>-->
<!--</div>-->


<!-- 頁面頭部 -->
<header>
    <!-- 頭部內容 -->
    <div class="header position-fixed top-0 z-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a th:href="@{/}">
                                    <img src="/frontend/images/JoyfulResort2.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <br>

                                <li class="nav-item dropdown">
                                    <a class="btn nav-link fw-bold" data-bs-toggle="modal" data-bs-target="#cartModal"
                                       style="color: black" href="#">
                                        <svg class="header-icon" xmlns="http://www.w3.org/2000/svg"
                                             style="margin-top: -3px" height="20px" viewBox="0 -960 960 960"
                                             width="24px" fill="#5f6368">
                                            <path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/>
                                        </svg>
                                        購物車<span id="cart-count"
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        0
                                    </span></a>

                                </li>
                                <li class="nav-item">
                                    <div th:switch="${session.memberID==null}">
                                    <a th:case="true" data-bs-toggle="modal" data-bs-target="#memberLogin" class="nav-link fw-bold nav-link-custom"  th:href="@{/}" id="memberField"><svg class="header-icon" xmlns="http://www.w3.org/2000/svg"
                                                                                                                                                     style="margin-top: -3px" height="20" viewBox="0 -960 960 960" width="24"
                                                                                                                                                     fill="#5f6368">
                                        <path d="M186.67-813.33V-537.67-540v393.33-666.66 190.66-190.66Zm92.66 400h170q10.34-19 23.34-35.67T502-480H279.33v66.67Zm0 166.66h146.34Q422-263.33 420.5-280q-1.5-16.67-.17-33.33h-141v66.66ZM186.67-80q-27 0-46.84-19.83Q120-119.67 120-146.67v-666.66q0-27 19.83-46.84Q159.67-880 186.67-880H534l226 226v136q-15.67-7.33-32.33-12.17-16.67-4.83-34.34-7.5v-85H500.67v-190.66h-314v666.66H477q18.67 22 41.67 38.84Q541.67-91 569-80H186.67ZM660-193.33q45.33 0 76-30.67t30.67-76q0-45.33-30.67-76t-76-30.67q-45.33 0-76 30.67t-30.67 76q0 45.33 30.67 76t76 30.67Zm204 144L756.56-156.67q-20.89 14-45.39 22t-51.17 8q-72.22 0-122.78-50.58-50.55-50.57-50.55-122.83 0-72.25 50.58-122.75 50.57-50.5 122.83-50.5 72.25 0 122.75 50.55 50.5 50.56 50.5 122.78 0 26.67-8 51.17t-22 45.39L910.67-96 864-49.33Z"/>
                                    </svg>
                                        訂單查詢</a>
                                    <a th:case="false" id="memberField_2" class="nav-link fw-bold position-relative" style="color: black"
                                       th:href="@{/joyfulresort/member/memberinfo}">
                                        <svg class="header-icon" xmlns="http://www.w3.org/2000/svg"
                                             style="margin-top: -3px" height="20" viewBox="0 -960 960 960" width="24"
                                             fill="#5f6368">
                                            <path d="M186.67-813.33V-537.67-540v393.33-666.66 190.66-190.66Zm92.66 400h170q10.34-19 23.34-35.67T502-480H279.33v66.67Zm0 166.66h146.34Q422-263.33 420.5-280q-1.5-16.67-.17-33.33h-141v66.66ZM186.67-80q-27 0-46.84-19.83Q120-119.67 120-146.67v-666.66q0-27 19.83-46.84Q159.67-880 186.67-880H534l226 226v136q-15.67-7.33-32.33-12.17-16.67-4.83-34.34-7.5v-85H500.67v-190.66h-314v666.66H477q18.67 22 41.67 38.84Q541.67-91 569-80H186.67ZM660-193.33q45.33 0 76-30.67t30.67-76q0-45.33-30.67-76t-76-30.67q-45.33 0-76 30.67t-30.67 76q0 45.33 30.67 76t76 30.67Zm204 144L756.56-156.67q-20.89 14-45.39 22t-51.17 8q-72.22 0-122.78-50.58-50.55-50.57-50.55-122.83 0-72.25 50.58-122.75 50.57-50.5 122.83-50.5 72.25 0 122.75 50.55 50.5 50.56 50.5 122.78 0 26.67-8 51.17t-22 45.39L910.67-96 864-49.33Z"/>
                                        </svg>
                                        訂單查詢</a>
                                    </div>
                                </li>


                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header結束 -->
<div class="modal fade modal-dialog-scrollable" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-start" style="background-color: #f1f1f1">
                <svg class="header-icon position-relative" style="top: 10px" xmlns="http://www.w3.org/2000/svg"
                     height="30px" viewBox="0 -960 960 960"
                     width="30px" fill="#5f6368">
                    <path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/>
                </svg><span class="fw-bold h4 position-relative" style="margin-top: 13px">購物車</span>
            </div>
            <div class="modal-body pt-0 pb-0">
                <button type="button" class="btn-close justify-content-end" style="margin-top: -40px"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                <h3 class=" fw-bold mx-auto text-center"></h3>

                <div id="cart-content" class="row d-flex justify-content-center">

                </div>
                <h5 class="text-end" style=" margin-top: -20px">總價: NT$<span id="total-price">0.00</span></h5>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" style="border-radius: 0" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <div th:switch="${session.memberID==null}">
                    <a th:case="true" id="LoginButton" onclick="alert('請先登入')" style="color: white; border-radius: 0" data-bs-toggle="modal" data-bs-target="#memberLogin" class="btn btn-primary">結帳</a>

                    <a th:case="false" style="border-radius: 0" th:href="@{/conference/order/pay}" class="btn btn-primary disabled" id="pay-button">結帳</a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="memberLogin" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body"
                 style="background-color: #f3f6f9; height: 500px;">
                <div style="text-align: center;">
                    <h1 style="color: rgb(0, 174, 255);">
                        <b>JoyfulResort</b>
                    </h1>
                    <h4 class="card-title">
                        <b>登入</b>
                    </h4>
                    <form>
                        <div class="input-group mb-3"
                             style="width: 100%; height: 60%; display: flex; align-items: center; justify-content: space-around;">

                            <div style="width: 80%;">
                                <div class="input-group mb-3">
                                    <input type="text" id="userAccount" name="userAccount" class="form-control"
                                           placeholder="帳號"
                                           style="padding-top: 2rem; padding-bottom: 2rem">
                                </div>

                                <div class="input-group mb-3">
                                    <input type="Password" id="userPassword" name="userPassword"
                                           class="form-control" placeholder="密碼"
                                           style="padding-top: 2rem; padding-bottom: 2rem">
                                </div>

                                <div class="form-check" style="float: left">
                                    <!-- 									  <input class="form-check-input" type="checkbox" name="rememberMe" value="" id="rememberMe"> -->
                                    <!-- 									  <label class="form-check-label" for="rememberMe">記住我</label> -->
                                </div>
                            </div>
                        </div>

                        <div style="margin-top: 35px;">
                            <button type="button" id="Button_Login" class="btn btn-outline-primary"
                                    style="width: 70%; padding-top: 1rem; padding-bottom: 1rem">登入</button>
                        </div>
                        <span id="errorMessage" style="color: red;"></span>
                        <div style="margin-top: 35px;">
                            <button id="but_forgetPassword" type="button" class="btn btn-outline-danger" data-bs-target="#forgetPassword" data-bs-toggle="modal" style="width: 100px; folat: left; margin-right: 80px;">忘記密碼?</button>
                            <button type="button" id="buttonRegister"
                                    class="btn btn-outline-success"
                                    style="width: 100px; margin-left: 80px;"
                                    onclick="location.href='/joyfulresort/memberRegister'">註冊</button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!-- 忘記密碼 -->

<div class="modal fade" id="forgetPassword" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div style="text-align: center;">
                    <h1 style="color: rgb(0, 174, 255);">
                        <b>JoyfulResort</b>
                    </h1>
                    <h4 class="card-title">
                        <b>忘記密碼</b>
                    </h4>
                    <form>
                        <div class="input-group mb-3"
                             style="width: 100%; height: 60%; display: flex; align-items: center; justify-content: space-around;">

                            <div style="width: 80%;">
                                <div class="input-group mb-3">
                                    <input type="Email" id="forgetPassword_inputEmali" name="forgetPassword_Emali" class="form-control"
                                           placeholder="請輸入您的電子信箱"
                                           style="padding-top: 2rem; padding-bottom: 2rem">
                                </div>

                                <div class="input-group mb-3">
                                    <input type="text" id="forgetPassword_inPutAuthCode" name="userPassword"
                                           class="form-control" placeholder="驗證碼"
                                           style="padding-top: 2rem; padding-bottom: 2rem">
                                </div>

                            </div>

                            <div>
                                <img id="forgetPassword_memberCaptcha" th:src="@{/member/getCode}">
                                <button style="margin-top: 20px;" id="forgetPassword_getAuthCode" type="button" class="btn btn-info mb-3">重新取得驗證碼</button>
                            </div>

                        </div>

                        <div style="margin-top: 25px;">
                            <p style="color: red;">*驗正碼有效時間為一分鐘</p>
                            <button type="button" id="Button_forgetPassword" class="btn btn-outline-primary"
                                    style="width: 70%; padding-top: 1rem; padding-bottom: 1rem">送出</button>
                            <div id="Error_forgetPassword" style="color: red;"></div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button id="back_Login" class="btn btn-primary" data-bs-target="#memberLogin" data-bs-toggle="modal">返回登入</button>
            </div>
        </div>
    </div>
</div>



<div class="container" style="margin-top: 5%">
    <h2 class="mx-auto text-center lora-type" style="color: #847674;  margin-bottom: 10px">
        RESERVATION</h2>
    <p class="fw-bold text-center h5 mb-4" style="margin-top: -20px">預訂場地</p>
    <div class="row">
        <div class="col-12 room">
            <div class="row mt-5 ms-2 me-2 mb-0" th:each=" meetingRooms : ${meetingRooms} "
                 th:if="${meetingRooms.meetingRoomSaleState}">
                <div class="col-lg-4 col-12" th:each="photos : ${meetingRooms.photos}">
                    <img class="w-100" style="height: 256.99px"
                         th:src="@{/image/{meetingRoomPhotoId}(meetingRoomPhotoId=${photos.meetingRoomPhotoId})}"
                         alt="#"/>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="row">
                        <div class="col-7">
                            <h3 class="fw-bold lora-type" style="color: #847674"
                                th:text="${meetingRooms.meetingRoomEname}"></h3>

                        </div>
                        <div class="col text-end">
                            <h3 class="fw-bold text-end" style="color: #847674"
                                th:text="'$' + ${meetingRooms.meetingRoomPrice}"></h3>

                        </div>
                    </div>
                    <h5 class="fw-bold" style="margin-top: -10px" th:text="${meetingRooms.meetingRoomName}"></h5>

                    <p th:text="${meetingRooms.meetingRoomContent}"></p>


                    <div class="row">
                        <div class="col" style="height: 65px">
                            <p class="fw-bold">座椅數</p>
                            <p style="color: #847674" th:text="${meetingRooms.meetingRoomChair}"></p>
                        </div>
                        <div class="col" style="border-left: #847674 1px solid;height: 65px">
                            <p class="fw-bold">場地坪數</p>
                            <p style="color: #847674" th:text="${meetingRooms.meetingRoomSquareMeter}"></p>
                        </div>
                        <div class="col" style="border-left: #847674 1px solid;height: 65px">
                            <p class="fw-bold">容納人數</p>
                            <p style="color: #847674" th:text="${meetingRooms.meetingRoomCapacity}"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <button class="btn-outline-secondary opt"
                                    style="color: black;font-weight: bold ; width: 150px; height: 40px;border-radius: 0.2rem; border: 2px solid #757575"
                                    data-bs-toggle="modal"
                                    th:data-bs-target="'#exampleModal' + ${meetingRooms.meetingRoomId}">詳細內容
                            </button>
                        </div>
                        <div class="modal fade modal-lg modal-dialog-scrollable"
                             th:id="'exampleModal' + ${meetingRooms.meetingRoomId}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-body">
                                        <div class="about" style="padding-top: 20px;">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="d-flex justify-content-end">
                                                        <button type="button" class="btn-close"
                                                                style="margin-top: -20px;" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>

                                                    <h2 class="text-center p-0 lora-type m-0" style="color: #847674;">
                                                        DETAILED CONTENT</h2>
                                                    <P class="text-center h5 mb-5 fw-bold">詳細內容</P>
                                                    <div class="about_img w-100"
                                                         th:each="photo : ${meetingRooms.photos}">
                                                        <figure><img
                                                                th:src="@{/image/{meetingRoomPhotoId}(meetingRoomPhotoId=${photo.meetingRoomPhotoId})}"
                                                                alt="#"/></figure>
                                                    </div>
                                                    <hr>
                                                    <h5 class="fw-bold mt-5">設施：</h5>
                                                    <p class="fw-bold">座位：<span
                                                            class="fw-normal">提供舒適的座椅，每個座位都有鋪設好的寬敞桌面，方便參與者放置文件和筆記。</span>
                                                    </p>
                                                    <p class="fw-bold">音響系統：<span
                                                            class="fw-normal">先進的音響系統保證清晰的聲音傳遞，並具有調整音量和音調的功能。</span>
                                                    </p>
                                                    <p class="fw-bold">投影設備：<span class="fw-normal">
                                                            配備高清投影設備和大型投影幕，支援各種多媒體格式，包括電腦投影和DVD播放。</span>
                                                    </p>
                                                    <p class="fw-bold">照明：<span
                                                            class="fw-normal">具有可調節亮度的照明系統，保證會議期間的舒適度和能見度。</span>
                                                    </p>
                                                    <p class="fw-bold">WiFi連接：<span
                                                            class="fw-normal">提供穩定的WiFi連接，讓與會者能夠輕鬆訪問網絡和在線資源。</span>
                                                    </p>
                                                    <p class="fw-bold">會議桌：<span
                                                            class="fw-normal">與會者圍坐的圓桌，方便小組討論和互動。</span>
                                                    </p>
                                                    <p class="fw-bold">空調系統：<span
                                                            class="fw-normal">提供舒適的溫度控制，確保會議期間的舒適度。</span>
                                                    </p>
                                                    <p class="fw-bold">紀錄設備：<span
                                                            class="fw-normal">錄音和錄影設備，用於會議記錄和後續分析。</span>
                                                    </p>
                                                    <hr>
                                                    <h5 class="fw-bold mt-3">服務：</h5>
                                                    <p class="fw-bold">會議管理人員：<span
                                                            class="fw-normal">專業的會議管理人員將提供支持，包括技術支援、會議安排和問題解決。</span>
                                                    </p>

                                                    <p class="fw-bold">飲食服務：<span
                                                            class="fw-normal">提供多種選擇的餐飲服務，包括茶歇、午餐和輕食。</span>
                                                    </p>
                                                    <p class="fw-bold">接待區：<span class="fw-normal">
                                                            舒適的接待區域，用於登記、領取會議資料和等候。</span></p>
                                                    <hr>
                                                    <h5 class="fw-bold mt-3">其他資訊：</h5>
                                                    <p class="fw-bold">可定制性：<span
                                                            class="fw-normal">會議廳可根據需求進行定制，包括座位布局、裝飾和設施設置。</span>
                                                    </p>
                                                    <p class="fw-bold">安全措施：<span
                                                            class="fw-normal">配備安全監控系統和緊急應對計劃，確保會議期間的安全。</span>
                                                    </p>
                                                    <p class="fw-bold">無障礙設施：<span class="fw-normal">
                                                            提供無障礙設施，包括無障礙通道和無障礙廁所，以便所有人都能方便參與。</span>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col text-end d-inline-flex gap-1 justify-content-end">

                            <button class="btn-secondary opt fw-bold"
                                    style="width: 150px; height: 40px;background-color: #847674;border-radius: 0.2rem"
                                    data-bs-toggle="collapse"
                                    th:data-bs-target="'#collapse' + ${meetingRooms.meetingRoomId}"
                                    aria-expanded="false" aria-controls="collapseExample">查看日期
                            </button>
                        </div>
                    </div>


                </div>
                <hr class="mt-5">
                <div class="collapse" th:id="'collapse' + ${meetingRooms.meetingRoomId}">
                    <div class="card card-body " style="height: auto">
                        <div th:id="'calendar' + ${meetingRooms.meetingRoomId}" class="calendar date"></div>
                    </div>
                </div>
                <div class="modal fade" th:id="'bookingModal' + ${meetingRooms.meetingRoomId}" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">選擇日期</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                確定要選擇此日期嗎?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                <form th:id="'add-to-cart-form' + ${meetingRooms.meetingRoomId}"
                                      class="add-to-cart-form" th:action="@{/cart/add}" method="post">
                                    <input type="hidden" id="selectedDateTime" name="selectedDateTime" value="">
                                    <input type="hidden" id="meetingRoomId" name="meetingRoomId" value="">
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">確定</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>


<th:block link th:insert="~{/front-end/htmlfile/content2.html}"/>


<th:block link th:insert="~{/front-end/htmlfile/script.html}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.11/main.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<!--<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>-->
<!--<script>-->
<!--    AOS.init();-->
<!--</script>-->
<script th:inline="javascript">
    /*<![CDATA[*/

    let today = new Date();
    today.setHours(0, 0, 0, 0);  // 將今天的時間設置為 00:00:00.000

    /*[# th:each="meetingRooms : ${meetingRooms}"]*/
    document.addEventListener('DOMContentLoaded', function () {
        $('#collapse' + /*[[${meetingRooms.meetingRoomId}]]*/).on('shown.bs.collapse', function () {
            const meetingRoomId = /*[[${meetingRooms.meetingRoomId}]]*/;
            const calendarEl = document.getElementById('calendar' + meetingRoomId);
            let selectedDates = [];
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'zh-tw',
                navLink: true,
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'dayGridMonth'
                },
                buttonText: {
                    month: '月'
                },
                showNonCurrentDates: false,
                selectable: true,
                selectHelper: true,
                editable: false,
                select: function (selectionInfo) {
                    const selectedDateTime = selectionInfo.startStr;
                    const modalId = '#bookingModal' + meetingRoomId;
                    if (selectedDates.includes(selectedDateTime)) {
                        alert('此日期已選擇');
                        return;
                    }

                    selectedDates.push(selectedDateTime);
                    $(modalId).modal('toggle');
                    $(modalId).find('#selectedDateTime').val(selectedDateTime);
                    $(modalId).find('#meetingRoomId').val(meetingRoomId);
                    sendData(selectedDateTime, meetingRoomId);
                },
                events: function (fetchInfo, successCallback, failureCallback) {
                    fetch('/conference/calendar/json/' + meetingRoomId)
                        .then(response => response.json())
                        .then(data => {
                            const events = data.map(event => ({
                                title: "已滿",
                                start: event.start,
                                allDay: true,
                                display: 'background',
                                color: 'red'
                            }));

                            let eventDates = data.map(event => new Date(event.start).toDateString());

                            let validDates = [];
                            let startDate = new Date('2024-05-01');
                            let endDate = new Date('2024-08-01');
                            let date = new Date(startDate);
                            while (date <= endDate) {
                                if (!eventDates.includes(date.toDateString()) && date > today) { // 排除今天
                                    validDates.push({
                                        title: "可預訂",
                                        start: date.toISOString().split('T')[0],
                                        allDay: true,
                                        display: 'background',
                                        color: 'green'
                                    });
                                }
                                date.setDate(date.getDate() + 1);
                            }

                            successCallback(events.concat(validDates));
                        })
                        .catch(error => {
                            console.error('Error fetching events:', error);
                            failureCallback(error);
                        });
                },
                selectOverlap: false,
                validRange: {
                    start: '2024-05-01',
                    end: '2024-08-01'
                },
                eventDidMount: function (info) {
                    if (info.event.title === "可預訂") {
                        // 為包含可預訂事件的整個日期格添加點擊事件
                        info.el.addEventListener('click', function() {
                            const selectedDateTime = info.event.startStr;
                            const modalId = '#bookingModal' + meetingRoomId;
                            if (selectedDates.includes(selectedDateTime)) {
                                alert('此日期已選擇');
                                return;
                            }

                            selectedDates.push(selectedDateTime);
                            $(modalId).modal('toggle');
                            $(modalId).find('#selectedDateTime').val(selectedDateTime);
                            $(modalId).find('#meetingRoomId').val(meetingRoomId);
                            sendData(selectedDateTime, meetingRoomId);
                        });
                    }
                },
                dayCellDidMount: function (info) {
                    if (info.date < today) {
                        info.el.style.backgroundColor = '#f3f3f3';
                    }
                }
            });
            calendar.render();
        });
    });

    function sendData(selectedDateTime, meetingRoomId) {
        document.getElementById('selectedDateTime').value = selectedDateTime;
        document.getElementById('meetingRoomId').value = meetingRoomId;
    }

    /*[/]*/
    /*]]>*/
</script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        /*[# th:each="meetingRooms : ${meetingRooms}"]*/
        $('#add-to-cart-form' + /*[[${meetingRooms.meetingRoomId}]]*/).on("submit", function (event) {
            event.preventDefault();
            let form = $(this);
            let selectedDateTime = form.find("#selectedDateTime").val();
            let meetingRoomId = form.find("#meetingRoomId").val();
            $.ajax({
                url: '/cart/add',
                type: 'POST',
                data: {
                    meetingRoomId: meetingRoomId,
                    bookingDate: selectedDateTime,
                    quantity: 1
                },
                success: function (cartItems) {
                    updateCart(cartItems);
                    saveData(selectedDateTime, meetingRoomId);
                },
                error: function (xhr, status, error) {
                    alert("Error: " + xhr.responseText);
                }
            });
        });
        $(document).on("click", ".remove-from-cart", function (event) {
            let button = $(this);
            let cartId = button.data('cart-id');
            let selectedDateTime = button.closest('.cart-item').find('.card-text1').text();
            $.ajax({
                url: '/cart/remove',
                type: 'POST',
                data: {cartId: cartId},
                success: function (cartItems) {
                    removeLocalStorageItem(selectedDateTime);
                    updateCart(cartItems);

                },
                error: function (xhr, status, error) {
                    alert("Error: " + xhr.responseText);
                }
            });
        });

        /*[/]*/
        function updateCart(cartItems) {
            let cartContent = $("#cart-content");
            cartContent.empty();
            let total = 0;
            let itemCount = 0;
            cartItems.forEach(function (item) {
                let price = parseInt(item.meetingRoomPrice);
                let bookingDate = new Date(item.bookingDate).toLocaleDateString('en-CA');
                let card = '<div class="col-md-12 cart-item">' +
                    '<button style="position: absolute; top: 10px; right: 10px" type="button" class="btn remove-from-cart p-0" data-cart-id="' + item.cartId + '"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">\n' +
                    '  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>\n' +
                    '  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>\n' +
                    '</svg></button>' +
                    '<h5 class="card-title fw-bold w-75">' + item.meetingRoomName + '</h5>' +
                    '<p class="card-text1 fw-bold">預訂日期： ' + bookingDate + '</p>' +
                    '<p class="card-text fw-bold" style="margin-top: -10px">數量： ' + item.quantity + '</p>' +
                    '<p class="card-text fw-bold" style="margin-top: -10px">價錢： $' + (price).toFixed(2) + '</p>' +
                    '<hr>'+
                    '</div>';
                cartContent.append(card);
                total += price;
                itemCount++;
            });
            $("#total-price").html(total.toFixed(2));
            $("#cart-count").html(itemCount);

            let payButton = $("#pay-button");
            if (itemCount > 0) {
                payButton.removeClass("disabled");
            } else {
                payButton.addClass("disabled");
            }
        }


        $.ajax({
            url: '/cart/items',
            type: 'GET',
            success: function (cartItems) {
                updateCart(cartItems);
            }
        });
    });

    function saveData(selectedDateTime, meetingRoomId) {
        let bookings = JSON.parse(localStorage.getItem('bookings')) || [];
        bookings.push({selectedDateTime, meetingRoomId});
        localStorage.setItem('bookings', JSON.stringify(bookings));
    }

    function removeLocalStorageItem(selectedDateTime) {
        let bookings = JSON.parse(localStorage.getItem('bookings')) || [];
        bookings = bookings.filter(booking => booking.selectedDateTime === selectedDateTime);
        localStorage.setItem('bookings', JSON.stringify(bookings));
    }

    /*]]>*/
</script>
<script>
    $('#Button_Login').click(function () {

        let inputAccount = $('#userAccount').val()
        let inputPassword = $('#userPassword').val()

        //帳號
        if (inputAccount == "") {
            $('#AccountErrorMessage').html('帳號不能為空')
            $('#buttonUpData').attr('disabled', true)
        }

        //密碼
        if (inputPassword == "") {
            $('#PasswordErrorMessage').html('密碼不能為空')
            $('#Button_Login').attr('disabled', true)
        }

        if (inputAccount !== "" && inputPassword !== "") {
            $.post({
                url: '/joyfulresort/Login',
                data: {
                    'userAccount': inputAccount,
                    'userPassword': inputPassword
                },
                datatype: 'json',
                success: function (data) {


                    if (data.State) {
                        $('#errorMessage').html('')
                        window.location.reload()
                    } else {
                        $('#errorMessage').html('帳號或密碼錯誤')
                    }
                }
            })
        }


    })

</script>
</body>

</html>