<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{'/news/backend/update/' + ${news.newsId}}" method="post" enctype="multipart/form-data">
        <label>標題</label>
        <input type="text" th:value="${news.newsTitle}" name="newsTitle" required>
        <label>日期</label>
        <input type="date" th:value="${news.newsDate}" name="newsDate" required>
        <label>摘要</label>
        <input type="text" th:value="${news.newsAbstract}" name="newsAbstract" required>
        <label>內容</label>
        <input type="text" th:value="${news.newsContent}" name="newsContent" required>
        <label>上傳照片</label>
        <input type="file" name="file" required><br>
        <label>狀態</label>
        <input type="number" th:value="${news.newsState}" name="newsState" required>
        <button type="submit">保存修改</button>
    </form>
</body>
</html>