<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<base th:href="@{/}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>新增住宿訂單</title>

<link th:insert="~{/back-end/htmlfile/css.html}" />


<style type="text/css">
form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 320px;
}

.error-message {
    color: red;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-right: 20px;
}

a:hover {
    text-decoration: underline;
}

button.custom-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 20px;
}

button.custom-button:hover {
    background-color:  #45a049;
}

#totalPriceSpan {
    color: #007bff;
}

@media screen and (max-width: 768px) {
    label {
        width: auto;
    }
    
    input[type="text"],
    textarea,
    select {
        width: 100%;
    }
}
input[type='submit']:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
</style>
</head>
<body>
	<th:block th:insert="~{/back-end/htmlfile/content1}" />
	<div class="container-fluid pt-4 px-4">
		<div class="bg-light rounded">
			<div class="G3_content">
				<h4>新增住宿訂單</h4>
    <hr>
    <form action="#" id="roomOrderForm" th:action="@{/roomorder/insert}" method="post" onsubmit="return validateForm()">
        <label>會員編號：</label><span id="memberId">&nbsp;</span><br>
        <label>會員姓名：</label><span id="memberName">&nbsp;</span><br>
        
        <label>會員電話：</label>
        <input type="text" id="memberPhone" name="memberPhone"> 
        <button class="custom-button" type="button" onclick="searchMember()">查詢會員</button><span class="error-message" id="member_error"></span>
        
        <div><label>預定checkin日期：</label>
			 <span th:text="${roomOrder.checkInDate}"></span>
			        <input type="hidden" id="checkInDate" name="checkInDate" th:value="${roomOrder.checkInDate}">
		</div>
		<div><label>預定checkout日期：</label>
			 <span th:text="${roomOrder.checkOutDate}"></span>
			 <input type="hidden" id="checkOutDate" name="checkOutDate" th:value="${roomOrder.checkOutDate}">
		</div>               
		<div><label>共入住：</label>
			 <span id="bookingNight" th:text="${roomOrder.bookingNight}"></span><span>晚</span>
			 <input type="hidden" name="bookingNight" th:value="${roomOrder.bookingNight}">
		</div><br>       

		<label>房型數量選擇: </label>
        <div th:each="i : ${#numbers.sequence(1, roomOrder.paramCount)}" th:with="rt=${roomOrder.__${'roomTypeId' + i}__}">
            <div>
                <span th:each="roomType : ${roomTypeListData}" >
					    <span class="roomTypeItem" th:if="${#strings.equals(rt, roomType.roomTypeId)}">
					        <span>&diams;&nbsp;</span><span th:text="${roomType.roomTypeName}" style="font-weight:bold;"></span>
					        <span>&nbsp;&nbsp;&nbsp;&lt;</span><span th:text="${roomType.numberOfPeople}"></span>
							<span>人房, 每晚價格: </span><span th:id="roomPrice+${i}" th:text="${#numbers.formatInteger(roomType.roomTypePrice,1,'COMMA')}"></span> <span>NTD/1間&gt;</span><br>
					    </span>
				</span>
				
						
                <input type="hidden" th:id="roomType+${i}" th:name="roomType+${i}" th:value="${rt}">
                
            
            
            <select th:id="roomAmount+${i}" th:name="roomAmount+${i}" onchange="updateTotalPrice()">

                <option th:if="${#strings.equals(0, roomOrder.__${'minEmptyRooms' + i}__)}" th:value="0">此時間區間無足夠空房可預訂</option>
                <option th:unless="${#strings.equals(0, roomOrder.__${'minEmptyRooms' + i}__)}" th:value="0">請選擇房型數量</option>
                <option th:unless="${#strings.equals(0, roomOrder.__${'minEmptyRooms' + i}__)}"
                        th:each="roomCount : ${#numbers.sequence(1, roomOrder.__${'minEmptyRooms' + i}__)}"
                        th:value="${roomCount}" th:text="${roomCount + '間'}"></option>
            </select><div class="error-message" th:id="room_error+${i}"></div>
            <input type="hidden" th:id="minEmptyRooms+${i}"  th:name="minEmptyRooms+${i}" th:value="${roomOrder.__${'minEmptyRooms' + i}__}">
            </div><br>
        </div>
        
        
        <label>特殊需求：</label><br>
        <textarea name="specialreq"></textarea><br>
        
        
        <label>付款方式：</label>
		        <input  type="radio" name="chart" value="transfer" onchange="clearErrorMessage()">匯款
				<input  type="radio" name="chart" value="creditcard" onchange="clearErrorMessage()">信用卡
		        <span class="error-message" id="chart_error"></span>
		        <br><br>
        
        <h5>
			<label style="font-weight:bold;">總價：</label>
            <span id="totalPriceSpan" style="font-weight:bold;">0</span><span style="font-weight:bold;">&nbsp;NTD</span>
        </h5>                        
        <hr>
        <input type="hidden" id="paramCount" name="paramCount" th:value="${roomOrder.paramCount}">
        <input type="hidden" id="totalPrice" name="totalPrice" >
        <input type="hidden" id="frontendinsert" name="frontendinsert" value="false">
        <input type="submit" value="送出">
        <span class="error-message" id="main_error"></span>
       
    </form>

				<br>	
		        <a th:href="@{/roomschedule/roomscheduleselect}">回空房查詢主頁</a><br>
		        <a th:href="@{/roomorder/roomorderselect}">回住宿訂單管理主頁</a>
			</div>
		</div>
	</div>
	<th:block th:insert="~{/back-end/htmlfile/content2}" />
	<th:block th:insert="~{/back-end/htmlfile/script}" />

	<script type="text/javascript">
	function validateForm() {
		
		document.getElementById("member_error").innerText = "";
		var paramCount = document.getElementById("paramCount").value;
		
		for (var i = 1; i <= paramCount; i++) {
			document.getElementById("room_error"+i).innerText = ""; 
	    }
		
	    var memberName = document.getElementById("memberName").innerText;
	    
	    if (memberName.trim() === "") {
	    	document.getElementById("member_error").innerText = "  請確認會員資料";
	    	alert("請確認會員資料");	       
	    }
		
		
		
	    var totalRoomAmount = 0;
	    var roomAmount;
	    for (var i = 1; i <= paramCount; i++) {
	    	roomAmount = parseInt(document.getElementById("roomAmount" + i).value);
	        totalRoomAmount += roomAmount;     
	    }	
	  
	    if (totalRoomAmount==0) {
	    	
	    	alert("請選擇房間數量");
	    	for (var i = 1; i <= paramCount; i++) {
	    		document.getElementById("room_error"+ i).innerText = "請選擇至少一種房型的房間數量"; 
		    }
	    }
	    
	    if ($('input[name="chart"]:checked').length === 0) {
            alert('請選擇付款方式');
            document.getElementById("chart_error").innerText = "請選擇付款方式"; 
        }
	    
	    if (memberName.trim() === "" ||totalRoomAmount==0 || $('input[name="chart"]:checked').length === 0){
	    	return false;
	    }
	    
	    checkChooseRoom().then(function(result) {
	    	if (result.isAvailable === false) {
	            alert('此時間區段空房數已不足選擇的房型數量, 請回到選擇頁面重新查詢並取得最新空房數量');
	            document.getElementById("main_error").innerText = "此時間區段空房數已不足選擇的房型數量, 請回到選擇頁面重新查詢並取得最新空房數量";
	            $("input[type='submit']").prop("disabled", true);
	            return false;
	        } else {
	            // 提交表單
	            if(result.isTheSame === false){
	            	if (confirm("此頁面已完成一筆訂單, 確定要再新增一筆新的訂單?")) {
	            		document.getElementById("roomOrderForm").submit();
		            }else{}
	            }else{
	            	document.getElementById("roomOrderForm").submit(); 
	            }
	            
	        }
	    }).catch(function(error) {
	        // 如果發生錯誤，這裡可以處理錯誤情況
	        console.error("An error occurred: " + error);
	        return false;
	    });

	    return false;
	    
	}
	
	function checkChooseRoom() {
	    return new Promise(function(resolve, reject) {
	        var paramCount = $("#paramCount").val();
	        var promises = [];
	        for (var i = 1; i <= paramCount; i++) {
	            promises.push(checkRoomAvailability(i));
	        }
	        Promise.all(promises)
	            .then(function(results) {
	                // 如果有任何一個房間數量不足，則 isAvailable 為 false，否則為 true
	                var isAvailable = results.every(function(result) {
	                	return result.available;
	                });
	               
	                var isTheSame = results.every(function(result) {
	                    return result.isTheSame;
	                });
	               
	                resolve({isAvailable: isAvailable, isTheSame: isTheSame});
	            })
	            .catch(function(error) {
	                console.error("An error occurred while fetching room amount: " + error);
	                reject(error);
	            });
	    });
	}

	function checkRoomAvailability(index) {
	    return new Promise(function(resolve, reject) {
	        var roomAmountSelect = document.getElementById("roomAmount" + index);
	        var chooseAmount = parseInt(roomAmountSelect.value);
	        var minEmptyRooms = document.getElementById("minEmptyRooms"+index).value;
	        
	        $.ajax({
	            type: "POST",
	            url: "/roomschedule/getRoomAmountRedis",
	            data: {
	                roomTypeId: $("#roomType" + index).val(),
	                checkInDate: $("#checkInDate").val(),
	                checkOutDate: $("#checkOutDate").val(),
	            },
	            dataType: "json",
	            success: function(response) {
	                if (response != null) {
	                    var availableRoomAmount = parseInt(response);
	                    var available = chooseAmount <= availableRoomAmount;
	                    var isTheSame = minEmptyRooms == availableRoomAmount;
	                    
	                    resolve({ index: index, available: available, isTheSame: isTheSame});
	                } else {
	                    reject("No response received");
	                }
	            },
	            error: function(xhr, status, error) {
	                console.error("An error occurred while fetching room amount: " + error);
	                reject(error);
	            }
	        });
	    });
	}
	
	
	
	
	function searchMember() {
	    var memberPhone = document.getElementById("memberPhone").value;
	    $.ajax({
	    	type: 'POST',
            url: '/roomorder/checkMember', 
            data: { memberPhone: memberPhone },
	        success: function(response) {
	        	document.getElementById("member_error").innerText = "";
	    		
	            if(response.memberName =='null'){
	            	document.getElementById("memberId").innerText = '查無此會員';
	 	            document.getElementById("memberName").innerText = '查無此會員';
	 	            document.getElementById("memberId").style.color = 'red'; 
	                document.getElementById("memberName").style.color = 'red';
	            }else{
	            	document.getElementById("memberId").innerText = response.memberId;
	 	            document.getElementById("memberName").innerText = response.memberName;
	 	            document.getElementById("memberId").style.color = 'black'; 
	                document.getElementById("memberName").style.color = 'black';
	            }
	            
	        },
	        error: function(xhr, status, error) {
	        	console.error(error);
	        }
	    });
	}
	
	function updateTotalPrice() {
        var paramCount = document.getElementById("paramCount").value;
        var totalPrice = 0;
        for (var i = 1; i <= paramCount; i++) {
			document.getElementById("room_error"+i).innerText = ""; 
	    }
        
        for (var i = 1; i <= paramCount; i++) {
            var roomAmountSelect = document.getElementById("roomAmount" + i);
            var roomAmount = parseInt(roomAmountSelect.value);
            var roomPriceStr = document.getElementById("roomPrice" + i).innerText;
            var roomPrice = parseInt(roomPriceStr.replace(/,/g, ''));
            var bookingNight = document.getElementById("bookingNight").innerText;

            if (!isNaN(roomAmount) && !isNaN(roomPrice)) {
                totalPrice += roomAmount * roomPrice * bookingNight;
            }
        }
        document.getElementById("totalPriceSpan").innerText = totalPrice.toLocaleString();
        document.getElementById("totalPrice").value = totalPrice;
    }
	
	function clearErrorMessage() {
	    document.getElementById("chart_error").innerText = ""; 
	}
	
	
	$(document).ready(function() {
		var submitted = false;
		var canSubmit = true;
		
		if ($("form").data("submitted")) {
	        $("input[type='submit']").prop("disabled", true);
	    }
		
		var paramCount = $("#paramCount").val();
        for (var i = 1; i <= paramCount; i++) {
        	(function(index) {
        		
        		$.ajax({
                    type: "POST",
                    url: "/roomschedule/getRoomAmountRedis",
                    data: { roomTypeId: $("#roomType" + index).val(),
                    		checkInDate: $("#checkInDate").val(),
                    		checkOutDate: $("#checkOutDate").val(),
                    		},
                    dataType: "json",
                    success: function(response) {
                        if (response != null) {
                        	var availableRoomAmount = parseInt(response);

                            var selectElement = $("#roomAmount" + index);

                            selectElement.empty();

                            if (availableRoomAmount > 0) {
                                selectElement.append($("<option>").attr("value", "0").text("請選擇房型數量"));
                                for (var roomCount = 1; roomCount <= availableRoomAmount; roomCount++) {
                                    selectElement.append($("<option>").attr("value", roomCount).text(roomCount + "間"));
                                }
                            } else {
                                selectElement.append($("<option>").attr("value", "0").text("此時間區間無足夠空房可預訂"));
                            }

                            updateTotalPrice();
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("An error occurred while fetching room amount: " + error);
                    }
                });
            })(i);
        }
	    
        // 在所有 AJAX 請求完成後檢查是否可以提交
        $(document).ajaxStop(function() {
            if (!canSubmit) {
                // 如果不能提交，禁用送出按鈕
                $("input[type='submit']").prop("disabled", true);
            }
        });
		
	    
	});
	
	
	</script>
</body>
</html>