<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<base th:href="@{/}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>住宿訂單資料</title>

<link th:insert="~{/back-end/htmlfile/css.html}" />

<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" />
<!-- ●●css for jquery datatables 用 -->



<style type="text/css">
h1 {
	margin-top: 0; 
	margin-bottom: 20px; 
}

table {
	width: 100%; 
	text-align: center; 
	margin-top: 20px; 
	border-collapse: collapse; 
}

th, td {
	padding: 10px; 
	border: 1px solid #dddddd; 
}

th {
	background-color: #0056b3; 
	color: white; 
}

th:nth-child(1), td:nth-child(1) {
	width: 10%; 
}

th:nth-child(2), td:nth-child(2) {
	width: 10%; 
}

th:nth-child(3), td:nth-child(3) {
	width: 15%; 
}

th:nth-child(4), td:nth-child(4) {
	width: 10%; 
}

th:nth-child(5), td:nth-child(5) {
	width: 12%; 
}

th:nth-child(6), td:nth-child(6) {
	width: 12%; 
}

th:nth-child(7), td:nth-child(7) {
	width: 10%; 
}

th:nth-child(8), td:nth-child(8) {
	width: 10%;
}

th {
	background-color: #004080; 
	color: white; 
}

tr:nth-child(even) {
	background-color: #f2f2f2; 
}

a {
	text-decoration: none; 
	color: #007bff; 
}

a:hover {
	text-decoration: underline; 
}

input[type="submit"] {
	background-color: #007bff; 
	color: #ffffff; 
	border: none; 
	border-radius: 5px; 
	padding: 8px 16px; 
	cursor: pointer; 
}

input[type="submit"]:hover {
	background-color: #4d94ff; 
}

.order_row:hover{
    background-color: lightgray;
}


</style>
</head>
<body>
	<th:block th:insert="~{/back-end/htmlfile/content1}" />
	<div class="container-fluid pt-4 px-4">
		<div class="bg-light rounded">
			<div class="G3_content">
				<div align="center">
					<h2>住宿訂單資料</h2>
				</div>

				<table id="allRoomOrderTable" class="display">
					<thead>
						<tr>
							<th>訂單編號</th>
							<th>會員姓名</th>
							<th>訂單成立日期時間</th>
							<th>付款金額</th>
							<th>check in 日期</th>
							<th>check out 日期</th>
							<th>訂單狀態</th>
							<th>退款狀態</th>
							<th>訂單狀態更新</th>
						</tr>
					</thead>
					<tbody>
    <tr th:each="roomOrder, iterStat : ${roomOrderList}" th:class="'order_' + ${roomOrder.roomOrderId}" th:classappend="order_row">
        <td th:text="${roomOrder.roomOrderId}"></td>
        <td th:text="${roomOrder.member.memberName}"></td>
        <td th:text="${roomOrder.orderDate}"></td>
        <td><b th:text="${#numbers.formatInteger(#aggregates.sum(roomOrder.roomOrderItems.![roomPrice])*roomOrder.bookingNight,1,'COMMA')}" /></td>
        <td class="checkin" th:text="${roomOrder.checkInDate}"></td>
        <td th:text="${roomOrder.checkOutDate}"></td>
        <td class="order_state"><span th:switch="${roomOrder.roomOrderState}">
            <span th:case="'0'">已取消</span>
            <span th:case="'1'">成立</span>
            <span th:case="'2'">完成</span>
            <span th:case="'3'">取消中</span>
            <span th:case="'4'">已在入住流程中</span>
        </span>
<!--         <br th:if="${roomOrder.completeDateTime}"> -->
<!-- 	        <span style="font-size: 10px;"> -->
<!-- 	            <span th:text="${roomOrder.completeDateTime}"></span> -->
<!-- 	        </span> -->
    
        </td>
        <td class="refund_state"><span th:switch="${roomOrder.refundState}">
            <span th:case="'0'">無退款</span>
            <span th:case="'1'">退款中</span>
            <span th:case="'2'">退款完成</span>
        </span></td>
        <td class="buttom_row">
        	<span th:switch="${roomOrder.roomOrderState}">
            <span th:case="'0' or ${roomOrder.roomOrderState} == '2'"></span>
            <span th:case="'1'">
                <form method="post" action="@{'/roomorder/getOneToCancel'}" style="margin-bottom: 0px;">
                    <input class="room_order_cancel" type="submit" value="取消">
                    <input type="hidden" name="roomOrderId" th:value="${roomOrder.roomOrderId}">
                    <input type="hidden" name="checkInDate" th:value="${roomOrder.checkInDate}"> 
                    
                </form>
            </span>
            <span th:case="'3'">
                <form method="post" action="@{'/roomorder/getOneToRefund'}" style="margin-bottom: 0px;">
                    <input class="room_order_refund" type="submit" value="退款完成">
                    <input type="hidden" name="roomOrderId" th:value="${roomOrder.roomOrderId}">
                </form>
            </span>
            
        </span>
        
        
			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="display: none;"></button>
		
		<input type="hidden" name="memberPhone" th:value="${roomOrder.member.memberPhone}">
		<input type="hidden" name="roomOrderState" th:value="${roomOrder.roomOrderState}">
		<input type="hidden" name="checkInDate" th:value="${roomOrder.checkInDate}"> 
        </td>
    </tr>
</tbody>
</table>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">訂單明細</h4>
            </div>
            <div class="modal-body">

            
            
            
            
            
            
            
            
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->










				<a th:href="@{/roomorder/roomorderselect}">回住宿訂單管理主頁</a>
			</div>
		</div>
	</div>
	<th:block th:insert="~{/back-end/htmlfile/content2}" />
	<th:block th:insert="~{/back-end/htmlfile/script}" />
	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<!-- ●●js  for jquery datatables 用 -->
	<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
	<!-- ●●js  for jquery datatables 用 -->

	<!-- ●● jquery datatables 設定 -->
	<script>
		$(document).ready(function() {
			$('#allRoomOrderTable').DataTable({
				"lengthMenu": [3 ,5, 10, 20, 50, 100],
				"searching": true,  //搜尋功能, 預設是開啟
			    "paging": true,     //分頁功能, 預設是開啟
			    "ordering": true,   //排序功能, 預設是開啟
			    "language": {
			        "processing": "處理中...",
			        "loadingRecords": "載入中...",
			        "lengthMenu": "顯示 _MENU_ 筆結果",
			        "zeroRecords": "沒有符合的結果",
			        "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
			        "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
			        "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
			        "infoPostFix": "",
			        "search": "搜尋:",
			        "paginate": {
			            "first": "第一頁",
			            "previous": "上一頁",
			            "next": "下一頁",
			            "last": "最後一頁"
			        },
			        "aria": {
			            "sortAscending":  ": 升冪排列",
			            "sortDescending": ": 降冪排列"
			        }
			    }
			});
		});
	</script>
	
	<script type="text/javascript">

	$(document).ready(function() {
	    $('.room_order_cancel').click(function(e) {
	        e.preventDefault();
	        var roomOrderId = $(this).siblings('input[name="roomOrderId"]').val();
	        var checkInDate = $(this).siblings('input[name="checkInDate"]').val(); 
	       
	        var differenceInDays = calculateDifferenceInDays(checkInDate);
	        
	        var buttonRow = $(this).closest('tr').find('.buttom_row'); 
	         if (differenceInDays <= 3) {
	            if (confirm("距離入住日期不足三天，無法退款。是否確定取消？")) {
	            	orderCancelAjax(roomOrderId,buttonRow);
	            }else{}
	       		} else {
	            if (confirm("是否確認取消?")) {
	               alert("進入取消流程, 請記得進行退款作業。");
	               orderCancelAjax(roomOrderId,buttonRow);
	            }else{}
       	 	}
	        
	    });
	    
	    
	    function orderCancelAjax(roomOrderId,buttonRow) {
	        var formData = {
	            roomOrderId: roomOrderId
	        };

	        
	        $.ajax({
	            type: 'POST',
	            url: '/roomorder/getOneToCancel',
	            data: formData,
	            success: function(roomOrder) {
	                var orderStateText = '';
	                switch(roomOrder.roomOrderState) {
	                    case 0:
	                        orderStateText = '已取消';
	                        buttonRow.empty(); 
	                        break;
	                    case 3:
	                        orderStateText = '取消中';
	                        buttonRow.empty(); 
	                        var newForm = $('<form method="post" action="@{/roomorder/getOneToRefund}" style="margin-bottom: 0px;">' +
	                            '<input class="room_order_refund" type="submit" value="退款完成">' +
	                            '<input type="hidden" name="roomOrderId" value="' + roomOrderId + '">' +
	                            '</form>');
	                        buttonRow.append(newForm);
	                        console.log(roomOrderId);
	                        console.log(newForm);
	                        break;
	                }
	                $('.order_' + roomOrder.roomOrderId + ' .order_state').text(orderStateText);

	                var refundStateText = '';
	                switch(roomOrder.refundState) {
	                    case 0:
	                        refundStateText = '無退款';
	                        break;
	                    case 1:
	                        refundStateText = '退款中';
	                        break;
	                }
	                $('.order_' + roomOrder.roomOrderId + ' .refund_state').text(refundStateText);
	            },
	            error: function(xhr, status, error) {
	                console.error(error);
	            }
	        });
	    }
	    
	    
	    
	    
	    
	});
		
		
	$(document).ready(function() {
	    $(document).on('click','.room_order_refund',function(e){
		
	        e.preventDefault();

	        
	        var roomOrderId = $(this).siblings('input[name="roomOrderId"]').val();

	        var formData = {
	            roomOrderId: roomOrderId
	        };


            var buttonRow = $(this).closest('tr').find('.buttom_row'); 
            console.log(buttonRow);
            
	        $.ajax({
	            type: 'POST',
	            url: '/roomorder/getOneToRefund',
	            data: formData,
	            success: function(roomOrder) {
	                console.log(roomOrder);
	                buttonRow.empty(); 
	                var orderStateText = '已取消';
	                $('.order_' + roomOrder.roomOrderId + ' .order_state').text(orderStateText);
	                
	                var refundStateText = '退款完成';	              
	                $('.order_' + roomOrder.roomOrderId + ' .refund_state').text(refundStateText);
	                alert("請通知客戶已退款完成");
	            },
	            error: function(xhr, status, error) {
	                console.error(error);
	            }
	        });
	    });
	    
	    
	$(document).ready(function() {    
		$(document).on('click','.order_row',function(e)  {
	    	    
	        var roomOrderId = $(this).find('td:first-child').text();
	        var memberName = $(this).find('td:nth-child(2)').text();
	        var roomOrderState = $(this).find('input[name="roomOrderState"]').val();
	        var memberPhone = $(this).find('input[name="memberPhone"]').val();
	        var checkInDate = $(this).find('input[name="checkInDate"]').val(); 
	        var differenceInDays = calculateDifferenceInDays(checkInDate);
	        console.log(checkInDate);
	        if (!$(e.target).closest('.buttom_row').length) {
	        $('#myModal').modal('show');
	        $.ajax({
	            type: 'POST',
	            url: '/roomorder/getByRoomOrderId', 
	            data: { roomOrderId: roomOrderId },
	            success: function(data) {
	            	console.log(data);
	            	
	            	var modalBody = $('#myModal').find('.modal-body');
	                modalBody.empty(); 
	                var keys = Object.keys(data);
	                var html= '<div><label>訂單編號：</label><span>' + roomOrderId + '</span></div>' +
	                '<div><label>會員姓名：</label><span>' + memberName + '</span></div>'+
	                '<div><label>會員電話：</label><span>' + memberPhone + '</span></div>'+
	                '<hr style="border-color:gray, border-width:10px;">';
	                
	               
	                
	                
	                keys.forEach(function(key) {
	                    var order = data[key];
	                    var roomPriceFormatted = parseInt(data[key].roomPrice).toLocaleString();
	                    html+='<div><label>訂單明細編號：</label><span>' + key + '</span></div>'+
	                    '<div><label>房型：</label><span>' + data[key].roomType + '</span></div>'+
	                    '<div><label>金額：</label><span>' + roomPriceFormatted + '</span></div>';
	                    if(roomOrderState== 0){
	                    	html+= '<div><label>特殊需求：</label><span>' + data[key].specialREQ + '</span></div>'+
	                        '<div><label>狀態：</label><span class="order_item_state">訂單已取消</span></div>'+
	    	                '<hr style="border-color:gray;">';
		                }else{
		                	switch (data[key].roomOrderItemState) {
		                    case 0:
		                        html+= '<div><label>特殊需求：</label><input style="text" name="specialREQ" id="specialREQ_' + key + '" value="' + data[key].specialREQ + '"></span></div>'+
		                        '<div><label>狀態：</label><span class="order_item_state" id="roomOrderItemState_' + key + '">尚未入住</span></div>'+
		                        '<button id="updateOrder_' + key + '" onclick="updateOrder(\'' + key + '\', \'' + data[key].roomType + '\', \'' + data[key].roomPrice + '\')">修改</button>' +
		                        '<button id="cancelOrder_' + key + '" onclick="cancelOrder(\'' + key + '\', \'' + Object.keys(data).length + '\', \'' + differenceInDays + '\')">取消</button>' +
		    	                '<hr style="border-color:gray;">';
		    	                console.log(Object.keys(data).length);
		    	                break;
		                    case 1:
		                    	html+= '<div><label>入住姓名：</label><span>' + data[key].roomGuestName + '</span></div>' +
		                        '<div><label>入住電話：</label><span>' + data[key].roomGuestPhone + '</span></div>' +
		                    	'<div><label>特殊需求：</label><span>' + data[key].specialREQ + '</span></div>'+
		                        '<div><label>狀態：</label><span class="order_item_state">已完成checkin, 入住中</span></div>'+
		    	                '<hr style="border-color:gray;">';
		    	                break;
		                    case 2:
		                    	html+= '<div><label>入住姓名：</label><span>' + data[key].roomGuestName + '</span></div>' +
		                        '<div><label>入住電話：</label><span>' + data[key].roomGuestPhone + '</span></div>' +
		                    	'<div><label>特殊需求：</label><span>' + data[key].specialREQ + '</span></div>'+
		                        '<div><label>狀態：</label><span class="order_item_state">已完成checkout</span></div>'+
		    	                '<hr style="border-color:gray;">'; 
		    	                break;
		                    case 3:
		                    	html+= '<div><label>特殊需求：</label><span>' + data[key].specialREQ + '</span></div>'+
		                        '<div><label>狀態：</label><span class="order_item_state">入住當天未checkin</span></div>'+
		    	                '<hr style="border-color:gray;">';
		    	                break;
		                    default:
		                    	html+= '<div><label>特殊需求：</label><span>' + data[key].specialREQ + '</span></div>'+
		                        '<div><label>狀態：</label><span class="order_item_state">取消入住</span></div>'+
		    	                '<hr style="border-color:gray;">';
		    	                break;
		                  }
		                	
		                	
		                }
	                    
	                    
	                });
	               
	                modalBody.html(html);
	                
	                $('#myModal').modal('show');
	            },
	            error: function(xhr, status, error) {
	                console.error(error);
	            }
	        });
	        }
	    });
	});  
	
	
	$(document).on('click','.btn-default',function(e)  {   
		$('#myModal').modal('hide');
	});
	    
	
	});
		
	function updateOrder(roomOrderItemId, roomType, roomPrice) {
		var specialREQ = $('#specialREQ_' + roomOrderItemId).val();
	    $.ajax({
	    	type: 'POST',
            url: '/roomorderitem/getOneToUpdate',
	        data: { roomOrderItemId: roomOrderItemId,
	        	    specialREQ: specialREQ
	              },
	        success: function(roomOrderItem) {
	        	
	        	$('#specialREQ_' + roomOrderItem.roomOrderItemId).val(roomOrderItem.specialREQ);	
	        	alert("已修改特殊需求");
	        	
	        },
	        error: function(xhr, status, error) {
                console.error(error);
            }
	    });
	}

	function cancelOrder(roomOrderItemId,datalength,differenceInDays) {
		var specialREQ = $('#specialREQ_' + roomOrderItemId).val();
		var remainingOrders = $('.order_item_state:contains("尚未入住")');
    	console.log(remainingOrders.length);
    	
		if(datalength==1){
			alert("此筆訂單只有一筆明細, 若要取消請直接至訂單頁面取消整筆訂單。");
		}else if(remainingOrders.length === 1){
			alert("此筆訂單只剩一筆明細, 若要取消請直接至訂單頁面取消整筆訂單。");
		}else{
			if(differenceInDays<=3){
				if(confirm("距離入住日期不足三天，無法退款。是否確定取消？")){
					specialREQ="無退款"
					cancelOrderItemAjax(roomOrderItemId,specialREQ);
				}else{}
			}else{
				if(confirm("單筆明細取消, 將於入住當日或退房當日以現金進行退款。是否確定取消？")){
					specialREQ="以現金退款"
					cancelOrderItemAjax(roomOrderItemId,specialREQ);
				}else{}
			}

	}
	
	function cancelOrderItemAjax(roomOrderItemId,specialREQ) {
			$.ajax({
		    	type: 'POST',
	            url: '/roomorderitem/getOneToCancel',
		        data: { roomOrderItemId: roomOrderItemId,
	        	    specialREQ: specialREQ
	              },
		        success: function(roomOrderItem) {
		        	
		        	
		        	
		        	$('#roomOrderItemState_' + roomOrderItem.roomOrderItemId).text("取消入住");
		        	var specialREQInput = $('#specialREQ_' + roomOrderItem.roomOrderItemId);
		            specialREQInput.replaceWith('<span id="specialREQ_' + roomOrderItem.roomOrderItemId + '">' + roomOrderItem.specialREQ + '</span>');
		            var cancelbutton = $('#cancelOrder_' + roomOrderItem.roomOrderItemId);
		            var updatebutton = $('#updateOrder_' + roomOrderItem.roomOrderItemId);
		            cancelbutton.hide();
		            updatebutton.hide();
		           
		        },
		        error: function(xhr, status, error) {
	                console.error(error);
	            }
		    });
		}
		
	}
	
	
	
	function calculateDifferenceInDays(checkInDate) {
	    var parts = checkInDate.split('-');
	    var checkInDateObj = new Date(parts[0], parts[1] - 1, parts[2]);
	    var today = new Date();
	    var differenceInTime = checkInDateObj.getTime() - today.getTime();
	    var differenceInDays = differenceInTime / (1000 * 3600 * 24);
	    return differenceInDays;
	}
		
		
		
	</script>
</body>
</html>