
<div class="container-fluid position-relative bg-white d-flex p-0">

	<div id="spinner"
		class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
		<div class="spinner-border text-primary"
			style="width: 3rem; height: 3rem;" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>


	<div class="sidebar pe-4 pb-3">
		<nav class="navbar bg-light navbar-light">
			<a href="index1.html" class="navbar-brand mx-4 mb-3">
				<h3 class="text-primary">
					<i class="fa fa-hashtag me-2"></i>JoyfulResort
				</h3>
			</a>
			<div class="d-flex align-items-center ms-4 mb-4">
				<div class="position-relative">
					<img class="rounded-circle"
						th:src="@{/employee/DBGifReader(empno=${session.employees.empno})}"
						alt="" style="width: 40px; height: 40px;">
					<!--                     <img class="rounded-circle" th:src="@{backend/picture/user.jpg}" alt="" style="width: 40px; height: 40px;"> -->
					<div
						class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
				</div>
				<div class="ms-3">
					<!--                     <h6 class="mb-0">員工姓名</h6> -->
					<h6 class="mb-0">
						<span th:text="${session.employees.empName}"
							class="d-none d-lg-inline-flex"></span>
					</h6>

					<!--                     <span>員工職位</span> -->
					<span th:text="${session.employees.position.positionName}"></span>
				</div>
			</div>
<!-- 			            <div class="navbar-nav w-100"> -->
<!-- 			                <div class="nav-item dropdown"> -->
<!-- 			                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-th me-2"></i>員工管理</a> -->
<!-- 			                    <div class="dropdown-menu bg-transparent border-0"> -->
<!-- 			                        <a th:href="@{/employee/listAllEmployee}" class="dropdown-item">員工資料首頁</a> -->
<!-- 									 <a th:href="@{/positions/positionAdd}" class="dropdown-item">員工職務管理</a>	 -->
<!-- 									  <a th:href="@{/authorityfunction/listAllAuthorityFunction}" class="dropdown-item">功能權限管理</a> -->
<!-- 										 <a th:href="@{/positionauthority/allPositionAuthority}" class="dropdown-item">職務權限列表管理</a> -->
<!-- 			                        <a href="element.html" class="dropdown-item"></a> -->
<!-- 			                    </div> -->
<!-- 			                </div> -->


			<!-- 以下是員工的修改測試區域 -->
			<div class="navbar-nav w-100">
				<div class="nav-item dropdown"
					th:if="${session.authorityFunctions.contains(1)}">
					<a href="#" class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"><i class="fa fa-th me-2"></i>員工管理</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a th:href="@{/employee/listAllEmployee}" class="dropdown-item"
							th:if="${session.authorityFunctions.contains(1)}">員工資料首頁</a> <a
							th:href="@{/positions/positionAdd}" class="dropdown-item"
							th:if="${session.authorityFunctions.contains(2)}">員工職務管理</a> <a
							th:href="@{/authorityfunction/listAllAuthorityFunction}"
							class="dropdown-item"
							th:if="${session.authorityFunctions.contains(2)}">功能權限管理</a> <a
							th:href="@{/positionauthority/allPositionAuthority}"
							class="dropdown-item"
							th:if="${session.authorityFunctions.contains(2)}">職務權限列表管理</a>
					</div>
				</div>

				<!-- 以上是員工的修改測試區域 -->
				
<!--					 這邊是原本的會員管理 -->
<!-- 				<a th:href="@{/member/listAllMember}" class="nav-item nav-link"><i -->
<!-- 					class="fa fa-laptop me-2"></i>會員管理</a> -->

						
						
<!-- 				這邊是測試版的會員管理區域		 -->
				<a th:href="@{/member/listAllMember}" class="nav-item nav-link" th:if="${session.authorityFunctions.contains(3)}"><i
					class="fa fa-laptop me-2"></i>會員管理</a>
					
					

					
<!-- 				這邊是測試版的會員管理區域		 -->



<!-- 			以下是"原版"的房間資料管理 -->
<!-- 				<div class="nav-item dropdown"> -->
<!-- 					<a href="#" class="nav-link dropdown-toggle" -->
<!-- 						data-bs-toggle="dropdown"><i class="fa fa-table me-2"></i>房間資料管理</a> -->
<!-- 					<div class="dropdown-menu bg-transparent border-0"> -->
<!-- 						<a th:href="@{/roomtype/roomtypeselect}" class="dropdown-item">房型管理</a> -->
<!-- 						<a th:href="@{/room/roomselect}" class="dropdown-item">房間管理</a> <a -->
<!-- 							th:href="@{/roomtypephoto/roomtypephotoselect}" -->
<!-- 							class="dropdown-item">房型圖片管理</a> <a href="element.html" -->
<!-- 							class="dropdown-item"></a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			以上是"原版"的房間資料管理 -->



<!-- 		以下是測試房間資料管理 -->
		<div class="nav-item dropdown" th:if="${session.authorityFunctions.contains(7) or session.authorityFunctions.contains(8)}">
					<a href="#" class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"><i class="fa fa-table me-2"></i>房間資料管理</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a th:href="@{/roomtype/roomtypeselect}" class="dropdown-item" th:if="${session.authorityFunctions.contains(7)}">房型管理</a>
						<a th:href="@{/room/roomselect}" class="dropdown-item" th:if="${session.authorityFunctions.contains(8)}">房間管理</a> <a
							th:href="@{/roomtypephoto/roomtypephotoselect}"
							class="dropdown-item" th:if="${session.authorityFunctions.contains(7)}">房型圖片管理</a> <a href="element.html"
							class="dropdown-item"></a>
					</div>
				</div>

<!-- 			以上是測試房間資料管理 -->



<!-- 			以下是"原版"的房務管理 -->
<!-- 				<div class="nav-item dropdown"> -->
<!-- 					<a href="#" class="nav-link dropdown-toggle" -->
<!-- 						data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>房務管理</a> -->
<!-- 					<div class="dropdown-menu bg-transparent border-0"> -->
<!-- 						<a th:href="@{/roomorderitem/checkin}" class="dropdown-item">check -->
<!-- 							in</a> <a th:href="@{/roomorderitem/checkout}" class="dropdown-item">check -->
<!-- 							out</a> <a th:href="@{/roomorder/roomorderselect}" -->
<!-- 							class="dropdown-item">住宿訂單管理</a> <a href="element.html" -->
<!-- 							class="dropdown-item"></a> -->
<!-- 					</div> -->
<!-- 				</div> -->


<!-- 			以上是"原版"的房務管理 -->





<!-- 以下是測試的房務管理區域 -->

			<div class="nav-item dropdown" th:if="${session.authorityFunctions.contains(9) or session.authorityFunctions.contains(10) or session.authorityFunctions.contains(11)}">
					<a href="#" class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>房務管理</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a th:href="@{/roomorderitem/checkin}" class="dropdown-item" th:if="${session.authorityFunctions.contains(10)}">check
							in</a> <a th:href="@{/roomorderitem/checkout}" class="dropdown-item" th:if="${session.authorityFunctions.contains(11)}">check
							out</a> <a th:href="@{/roomorder/roomorderselect}"
							class="dropdown-item" th:if="${session.authorityFunctions.contains(9)}">住宿訂單管理</a> <a href="element.html"
							class="dropdown-item"></a>
					</div>
				</div>

<!-- 以下是測試的房務管理區域 -->




<!-- 以下是"原版"的活動管理區域 -->
<!-- 				<div class="nav-item dropdown"> -->
<!-- 					<a href="#" class="nav-link dropdown-toggle" -->
<!-- 						data-bs-toggle="dropdown"><i class="fa fa-chart-bar me-2"></i>活動管理</a> -->
<!-- 					<div class="dropdown-menu bg-transparent border-0"> -->
<!-- 						<a th:href="@{/activitycategory/activitycategory}" -->
<!-- 							class="dropdown-item">活動類別管理</a> <a -->
<!-- 							th:href="@{/activity/activity}" class="dropdown-item">活動管理</a> <a -->
<!-- 							th:href="@{/activityphoto/activityphoto}" class="dropdown-item">活動圖片管理</a> -->
<!-- 						<a th:href="@{/activitysession/activitysession}" -->
<!-- 							class="dropdown-item">活動場次管理</a> <a -->
<!-- 							th:href="@{/activityorder/activityorder}" class="dropdown-item">活動訂單管理</a> -->
<!-- 						<a href="element.html" class="dropdown-item"></a> -->
<!-- 					</div> -->
<!-- 				</div> -->
				
<!-- 以上是"原版"的活動管理區域 -->				



<!-- 以下是測試的活動管理區域 -->


				<div class="nav-item dropdown" th:if="${session.authorityFunctions.contains(16) or session.authorityFunctions.contains(17) or session.authorityFunctions.contains(18)}">
					<a href="#" class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"><i class="fa fa-chart-bar me-2"></i>活動管理</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a th:href="@{/activitycategory/activitycategory}"
							class="dropdown-item" th:if="${session.authorityFunctions.contains(18)}">活動類別管理</a> <a
							th:href="@{/activity/activity}" class="dropdown-item" th:if="${session.authorityFunctions.contains(16)}">活動管理</a> <a
							th:href="@{/activityphoto/activityphoto}" class="dropdown-item" th:if="${session.authorityFunctions.contains(16)}">活動圖片管理</a>
						<a th:href="@{/activitysession/activitysession}"
							class="dropdown-item" th:if="${session.authorityFunctions.contains(17)}">活動場次管理</a> <a
							th:href="@{/activityorder/activityorder}" class="dropdown-item" th:if="${session.authorityFunctions.contains(16)}">活動訂單管理</a>
						<a href="element.html" class="dropdown-item"></a>
					</div>
				</div>



<!-- 以上是測試的活動管理區域 -->



<!-- 以上下是原版的會議廳 -->
<!-- 				<div class="nav-item dropdown"> -->
<!-- 					<a href="#" class="nav-link dropdown-toggle" -->
<!-- 						data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>會議廳管理</a> -->
<!-- 					<div class="dropdown-menu bg-transparent border-0"> -->
<!-- 						<a th:href="@{/conference/backend/list}" class="dropdown-item" th:if="${session.authorityFunctions.contains(16)}">會議廳內容管理</a> -->
<!-- 						<a th:href="@{/conference/backend/order}" class="dropdown-item" th:if="${session.authorityFunctions.contains(15)}">會議廳訂單管理</a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 以上是原版的會議廳 -->				
				
				
				<!-- 以下是測試版的會議廳 -->	
						<div class="nav-item dropdown" th:if="${session.authorityFunctions.contains(14) or session.authorityFunctions.contains(15)}">
					<a href="#" class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>會議廳管理</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a th:href="@{/conference/backend/list}" class="dropdown-item" th:if="${session.authorityFunctions.contains(15)}">會議廳內容管理</a>
						<a th:href="@{/conference/backend/order}" class="dropdown-item" th:if="${session.authorityFunctions.contains(14)}">會議廳訂單管理</a>
					</div>
				</div>
				<!-- 以上是測試版的會議廳 -->			
				


<!-- 以下是"原版"的餐廳管理區域 -->	
<!-- 				<div class="nav-item dropdown"> -->
<!-- 					<a href="#" class="nav-link dropdown-toggle" -->
<!-- 						data-bs-toggle="dropdown"><i class="fa fa-table me-2"></i>餐廳管理</a> -->
<!-- 					<div class="dropdown-menu bg-transparent border-0"> -->
<!-- 						<a th:href="@{/reserve/reservecontent}" class="dropdown-item">餐廳內容管理</a> -->
<!-- 						<a th:href="@{/reserve/reserveorder}" class="dropdown-item">餐廳訂單管理</a> -->
<!-- 						<a href="element.html" class="dropdown-item"></a> -->
<!-- 					</div> -->
<!-- 				</div> -->

<!-- 以上是"原版"的餐廳管理區域 -->




<!-- 以下是測試的餐廳管理區域 -->	

				<div class="nav-item dropdown" th:if="${session.authorityFunctions.contains(13) or session.authorityFunctions.contains(14)}">
					<a href="#" class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"><i class="fa fa-table me-2"></i>餐廳管理</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a th:href="@{/reserve/reservecontent}" class="dropdown-item" th:if="${session.authorityFunctions.contains(14)}">餐廳內容管理</a>
						<a th:href="@{/reserve/reserveorder}" class="dropdown-item" th:if="${session.authorityFunctions.contains(13)}">餐廳訂單管理</a>
						<a href="element.html" class="dropdown-item"></a>
					</div>
				</div>

<!-- 以上是測試的餐廳管理區域 -->	




<!-- 以下是原版的圖文管理管理區域 -->	
<!-- 				<div class="nav-item dropdown"> -->
<!-- 					<a href="#" class="nav-link dropdown-toggle" -->
<!-- 						data-bs-toggle="dropdown"><i class="fa fa-th me-2"></i>圖文管理</a> -->
<!-- 					<div class="dropdown-menu bg-transparent border-0"> -->
<!-- 						<a th:href="@{/spotnews/backend}" class="dropdown-item" th:if="${session.authorityFunctions.contains(5)}">最新消息管理</a> <a -->
<!-- 							th:href="@{/newslist/newslistselect}" class="dropdown-item">媒體報導管理</a> -->
<!-- 						<a href="element.html" class="dropdown-item"></a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</nav> -->
<!-- 	</div> -->
<!-- 以上是原版的圖文管理管理區域 -->	

<!-- 以下是測試的圖文管理管理區域 -->	
	<div class="nav-item dropdown" th:if="${session.authorityFunctions.contains(4) or session.authorityFunctions.contains(5)}">
					<a href="#" class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"><i class="fa fa-th me-2"></i>圖文管理</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a th:href="@{/spotnews/backend}" class="dropdown-item" th:if="${session.authorityFunctions.contains(4)}">最新消息管理</a>
						<a th:href="@{/newslist/newslistselect}" class="dropdown-item" th:if="${session.authorityFunctions.contains(5)}">媒體報導管理</a>
						<a th:href="@{/qalist/qalistselect}" class="dropdown-item" th:if="${session.authorityFunctions.contains(6)}">常見問題管理</a>						
						<a href="element.html" class="dropdown-item"></a>
					</div>
				</div>
			</div>
		</nav>
	</div>
<!-- 以上是測試的圖文管理管理區域 -->	

	<div class="content">

		<nav
			class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
			<a href="index1.html" class="navbar-brand d-flex d-lg-none me-4">
				<h2 class="text-primary mb-0">
					<i class="fa fa-hashtag"></i>
				</h2>
			</a> <a href="#" class="sidebar-toggler flex-shrink-0"> <i
				class="fa fa-bars"></i>
			</a>
			<form class="d-none d-md-flex ms-4">
				<input class="form-control border-0" type="hidden"
					placeholder="Search">
			</form>
			<div class="navbar-nav align-items-center ms-auto">
				<div style="visibility: hidden; opacity: 0;"
					class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"> <i class="fa fa-envelope me-lg-2"></i>
						<span class="d-none d-lg-inline-flex">Message</span>
					</a>
					<div
						class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
						<a href="#" class="dropdown-item">
							<div class="d-flex align-items-center">
								<img class="rounded-circle" th:src="@{backend/picture/user.jpg}"
									alt="" style="width: 40px; height: 40px;">
								<div class="ms-2">
									<h6 class="fw-normal mb-0">Jhon send you a message</h6>
									<small>15 minutes ago</small>
								</div>
							</div>
						</a>
						<hr class="dropdown-divider">
						<a href="#" class="dropdown-item">
							<div class="d-flex align-items-center">
								<img class="rounded-circle" th:src="@{backend/picture/user.jpg}"
									alt="" style="width: 40px; height: 40px;">
								<div class="ms-2">
									<h6 class="fw-normal mb-0">Jhon send you a message</h6>
									<small>15 minutes ago</small>
								</div>
							</div>
						</a>
						<hr class="dropdown-divider">
						<a href="#" class="dropdown-item">
							<div class="d-flex align-items-center">
								<img class="rounded-circle" th:src="@{backend/picture/user.jpg}"
									alt="" style="width: 40px; height: 40px;">
								<div class="ms-2">
									<h6 class="fw-normal mb-0">Jhon send you a message</h6>
									<small>15 minutes ago</small>
								</div>
							</div>
						</a>
						<hr class="dropdown-divider">
						<a href="#" class="dropdown-item text-center">See all message</a>
					</div>
				</div>
				<div style="visibility: hidden; opacity: 0;"
					class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"> <i class="fa fa-bell me-lg-2"></i>
						<span class="d-none d-lg-inline-flex">Notificatin</span>
					</a>
					<div
						class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
						<a href="#" class="dropdown-item">
							<h6 class="fw-normal mb-0">Profile updated</h6> <small>15
								minutes ago</small>
						</a>
						<hr class="dropdown-divider">
						<a href="#" class="dropdown-item">
							<h6 class="fw-normal mb-0">New user added</h6> <small>15
								minutes ago</small>
						</a>
						<hr class="dropdown-divider">
						<a href="#" class="dropdown-item">
							<h6 class="fw-normal mb-0">Password changed</h6> <small>15
								minutes ago</small>
						</a>
						<hr class="dropdown-divider">
						<a href="#" class="dropdown-item text-center">See all
							notifications</a>
					</div>
				</div>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle"
						data-bs-toggle="dropdown"> <!--                         <img class="rounded-circle me-lg-2" th:src="@{backend/picture/user.jpg}" alt="" style="width: 40px; height: 40px;"> -->

						<img class="rounded-circle"
						th:src="@{/employee/DBGifReader(empno=${session.employees.empno})}"
						alt="" style="width: 40px; height: 40px;"> <!--                         <span class="d-none d-lg-inline-flex">員工姓名</span> -->
						<span th:text="${session.employees.empName}"
						class="d-none d-lg-inline-flex"></span>
					</a>
					<div
						class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
						<!--                         <a href="員工資料頁.jsp" class="dropdown-item">基本資料</a> -->
						<a th:href="@{/employee/loginEmployeeFile}" class="dropdown-item">基本資料</a>
						<a th:href="@{/backend_login}" class="dropdown-item">Log Out</a>
					</div>
				</div>
			</div>
		</nav>