
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<meta th:charset="UTF-8">

<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
<link th:href="@{/backend/css/css2.css}" rel="stylesheet">

<link th:href="@{/backend/css/all.min.css}" rel="stylesheet">
<link th:href="@{/backend/css/bootstrap-icons.css}" rel="stylesheet">

<link th:href="@{/backend/css/owl.carousel.min.css}" rel="stylesheet">
<link th:href="@{/backend/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet">

<link th:href="@{/backend/css/bootstrap.min.css}" rel="stylesheet">

<link th:href="@{/backend/css/style.css}" rel="stylesheet">

<style>
    .G3_content {
        text-align: left;
        padding: 20px;
    }
    
    .justify-content-center {
        justify-content: flex-start !important;
    }
</style>

