



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>登入頁面</title>


</head>
<body>

		
       <h3><a th:href="@{/backend_login}" style="text-decoration:underline;color: black;">登入後台首頁</a></h3>
       <h3><a th:href="@{/joyfulresort}" style="text-decoration:underline;color: black;">登入前台首頁</a></h3>

<br>
       <h3><a th:href="@{/pay}" style="text-decoration:underline;color: black;">付款測試</a></h3>

</body>
</html>