<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<base th:href="@{/}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>checkin資料</title>

<link th:insert="~{/back-end/htmlfile/css.html}" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- ●●js  for jquery datatables 用 -->
<script
	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<!-- ●●js  for jquery datatables 用 -->
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" />
<!-- ●●css for jquery datatables 用 -->

<!-- ●● jquery datatables 設定 -->


<style type="text/css">
	h1 {
		margin-top: 0; 
		margin-bottom: 20px;
	}
	
	.error-message {
	    color: red; 
	    display: none;
	    
	}
	
	textarea {
	    width: 100%; 
	    height: 60px;
	   
	}
	
	input[type="text"] {
	    width: 100%;
	    
	}
	
	table {
	    table-layout: auto; 
	    width: 100%; 
	    text-align: center;
	    margin-top: 20px; 
	    border-collapse: collapse; 
	}
	
	th, td {
		padding: 10px; 
		border: 1px solid #dddddd; 
	}
	
	th {
		background-color: #0056b3; 
		color: white; 
	}
	
	th {
		background-color: #004080; 
		color: white;
	}
	
	tr:nth-child(even) {
		background-color: #f2f2f2;
	}
	
	a {
		text-decoration: none;
		color: #007bff;
	}
	
	a:hover {
		text-decoration: underline; 
	}
	
	input[type="submit"] {
		background-color: #007bff; 
		color: #ffffff; 
		border: none; 
		border-radius: 5px; 
		padding: 8px 16px;
		cursor: pointer; 
	}
	
	input[type="submit"]:hover {
		background-color: #4d94ff;
	}
	table {
	    table-layout: fixed;
	}
</style>
</head>
<body>
	<th:block th:insert="~{/back-end/htmlfile/content1}" />
	<div class="container-fluid pt-4 px-4">
		<div class="bg-light rounded">
			<div class="G3_content">
				<div align="center">
					<h2>今日checkin明細</h2>
				</div>

				<table>
					<thead>
						<tr>
							<th>訂單編號</th>
							<th>會員姓名</th>
<!-- 							<th>check in 日期</th> -->
							<th>check out 日期</th>
							<th>房型</th>
							<th>入住姓名</th>
							<th>入住電話</th>
<!-- 							<th>入住人數</th> -->
							<th>特殊需求</th>
							<th>房間</th>
							<th></th>
						</tr>
					</thead>
					
				    <tbody>
		    
					    <div th:each="roomOrder : ${checkInList}">
					        
						    <div th:with="count=${#lists.size(roomOrder.roomOrderItems)}">
								<tr th:each="i : ${#numbers.sequence(0, count-1)}" th:class="'roomOrderItem_' + ${roomOrder.roomOrderItems[i].roomOrderItemId}">
						            
						            <div th:if="${roomOrder.roomOrderState == 1 || roomOrder.roomOrderState == 4}">        
				                    	<td th:text="${roomOrder.roomOrderId}"></td>
				           		    	<td th:text="${roomOrder.member.memberName}"></td>
					                    <td th:text="${roomOrder.checkOutDate}"></td>
					                    <td th:text="${roomOrder.roomOrderItems[i].roomType.roomTypeName}"></td>
				                    
					                    <form id="myForm" th:action="@{'/roomorderItem/checkinUpdate'}" method="post">
					                    	<div th:if="${roomOrder.roomOrderItems[i].roomOrderItemState == 1}">
							                    <td class="room_guest_name_row" th:text="${roomOrder.roomOrderItems[i].roomGuestName}"></td>
												<td class="room_guest_phone_row" th:text="${roomOrder.roomOrderItems[i].roomGuestPhone}"></td>
						
												<td class="special_req_row" th:text="${roomOrder.roomOrderItems[i].specialREQ}"></td>
												<td class="choose_room_row" th:text="${roomOrder.roomOrderItems[i].room.roomId}"></td>
							                    <td class="buttom_row">已完成checkin</td>
						                    </div>
						                  
						                 	<div th:if="${roomOrder.roomOrderItems[i].roomOrderItemState == 4}">
							                    <td class="room_guest_name_row"></td>
												<td class="room_guest_phone_row"></td>
						
												<td class="special_req_row" th:text="${roomOrder.roomOrderItems[i].specialREQ}"></td>
												<td class="choose_room_row"></td>
							                    <td class="buttom_row">取消入住</td>
						                    </div> 
						                    
						                    <div th:if="${roomOrder.roomOrderItems[i].roomOrderItemState == 0}">
							                    <td class="room_guest_name_row">
							                     
							                     	<input type="text" name="roomGuestName" th:value="${roomOrder.member.memberName}" required>
							                    	<span class="error-message">姓名請勿空白</span>
							                    </td>
												<td class="room_guest_phone_row">
													<input type="text" name="roomGuestPhone" th:value="${roomOrder.member.memberPhone}" required pattern="09\d{8}">
												    <span class="error-message ER1">格式09xxxxxxxx</span>
												    <span class="error-message ER2">電話請勿空白</span>
												</td>
						
												<td class="special_req_row">
													<textarea type="text" name="specialREQ" th:text="${roomOrder.roomOrderItems[i].specialREQ}"></textarea>
												</td>
												<td class="choose_room_row">
													<select id="mySelect" name="roomId" th:field="*{roomType}" required>
						                				<option value="">選擇房間</option>
														<div th:each="roomType : ${roomTypeListData}" th:if="${roomOrder.roomOrderItems[i].roomType.roomTypeId == roomType.roomTypeId}" >
														<option th:each="room : ${roomType.room}"
										                th:if="${room.roomSaleState == true && room.roomState == 0}"
										                th:value="${room.roomId}"
										                th:text="${room.roomId}" />
										                
										                </div>
						            				</select>
													<div class="error-message">請選擇房間</div>
												</td>
							                    <td class="buttom_row">
							                    	<input class="room_checkin" type="submit" value="checkin">
							                    	<input type="hidden" name="roomOrderItemId" th:value="${roomOrder.roomOrderItems[i].roomOrderItemId}">
							                    </td>
						                    </div>
					                    </form>
					            	</div>        
				                </tr>
				            </div>			                              
					    </div>
					</tbody>
				</table>
				
			</div>
		</div>
	</div>
	<th:block th:insert="~{/back-end/htmlfile/content2}" />
	<th:block th:insert="~{/back-end/htmlfile/script}" />

	<script type="text/javascript">
	$(document).ready(function() {
	    $('.room_checkin').click(function(e) {
	        e.preventDefault();
	        var currentRow = $(this).closest('tr');
	        
	        var phoneInput = currentRow.find('.room_guest_phone_row input');
	        var phonePattern = phoneInput.attr('pattern');
	        var phoneValue = phoneInput.val().trim();
	        var phoneErrorMessage1 = phoneInput.siblings('.error-message.ER1');
	        var phoneErrorMessage2 = phoneInput.siblings('.error-message.ER2');
	        
	        var nameInput = currentRow.find('.room_guest_name_row input');
	        var nameValue = nameInput.val().trim();
	        var nameErrorMessage = nameInput.siblings('.error-message');
	        
	        var roomSelect = currentRow.find("#mySelect");
	        var roomValue = roomSelect.val();
	        var roomErrorMessage = roomSelect.siblings('.error-message');
	        
	        
	        
	        if(phoneValue.match(new RegExp(phonePattern)) && nameValue != '' && roomValue != ""){
	        	
	        }else{
	        	if (phoneValue != '' && !phoneValue.match(new RegExp(phonePattern))) {
		            phoneErrorMessage1.show();
		        } else if (phoneValue === '') {
		            phoneErrorMessage2.show();
		        } 
	        	if (nameValue === '') {
		            nameErrorMessage.show();
		        } 
	        	if (roomValue === ""){
		        	roomErrorMessage.show();
		        }
	        	return;
	        }
	        
        
	        // 获取当前行的表单数据
	        var formData = currentRow.find("#myForm").serialize();
	        var selectValue = currentRow.find("#mySelect").val();
	        formData = decodeURIComponent(formData, true);
	        formData += "&roomId=" + selectValue;
	        console.log(formData);

	        // 执行 AJAX 请求
	        $.ajax({
	            type: 'POST',
	            url: '/roomorderitem/checkinUpdate',
	            data: formData,
	            success: function(roomOrderItem) {
	                // 在当前行更新相关信息
	                currentRow.find('.buttom_row').text('已完成checkin');
	                currentRow.find('.room_guest_name_row').text(roomOrderItem.roomGuestName);
	                currentRow.find('.room_guest_phone_row').text(roomOrderItem.roomGuestPhone);
	                currentRow.find('.special_req_row').text(roomOrderItem.specialREQ);
	                currentRow.find('.choose_room_row').text(roomOrderItem.roomId);
	                $('select').each(function() {
	                    $(this).find('option[value="' + roomOrderItem.roomId + '"]').remove();
	                });
	            },
	            error: function(xhr, status, error) {
	                console.error(error);
	            }
	        });
	        
	    });
	});
		
	
		
	</script>
</body>
</html>